.covid19-tooltip{
  position: absolute;
  z-index: 9999;
  width: 250px;
  background-color: #04046b;
  border-radius: 15px;
  box-shadow: 0 0 36px -3px rgba(0,0,0,0.75);
  color: #fff;
  min-height: 125px;
}

.tooltip-content{
  padding: 15px;
}

.tooltip-content .country-name{
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
  display: block;
}

.hidden{
  display: none;
}